.App {
  text-align: center;
  background-color: #A8A8A8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #E0E0E0;
}

.result__block{
  padding: 3%;
  margin: 1%;
  min-width: 350px;
}

.find__block{
  padding:1%;
  width: 300px!important;
  margin: auto;
}

h3:first-letter, p:first-letter {
  text-transform:capitalize;
}